<h2>Login</h2>
<h4> we currently are only accepting github credentials. </h4>

  <a class="btn-auth btn-github large" a href="/users/auth/github">
  	Sign in with <b>github</b>
  </a>

<h5> thanks. </h5>

