

.sidebar {
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}
#collaborator-role {
	font-weight: bold;
	text-transform: uppercase;
 	color: #5bb75b;
}
#feature_temp_collaborator{
	font-size: 12px;
}
#collaborator-button {
	text-align: center;
}
/* Features show adds simple_form changes*/