.background {
	border-radius: 5px;
}

.home {
	min-height: 700px;
	background-color: white;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
}

.features_column {
	min-height: 700px;
	background-color: white;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
}

.feature-list{
	background-color: #FAFAFA;
}

.feature-list-item {
min-height: 70px;
max-height: 70px;
position: relative;
margin: 0px 10px;
padding: 5px 5px;
border: 0 0 2px solid #f0f0f0;
border-bottom: 1px solid #d7dfe2;

}

.feature-list-item:hover {
	background-color: #E1E1E1;
}

.feature-list-text {
	word-wrap: break-word;
	font-size: 12px;

}