.brand {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: bold;
}

.search-query {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: normal;
}

.nav {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.navbar .pull-right {
	padding-right: 10px;
}

.user-links {
	display: inline-block;
	padding-right: 25px;
	font-family: "freight-sans-pro",sans-serif;
	font-weight: bold;
	font-size: 16px;

}