
<div id="feature-browser" class="row">
	<div class="span6">
		<h3>Features</h3>
		<div id="feature-list">
			<%= render @features %>
		</div>
	</div> 
	
	<div class="span6">
		<div id="unpublished">
			<legend> Quick Add a Feature </legend>
			<div id="feature-add">
				<%= render 'form' if user_signed_in?  %>
			</div>
		</div>
	</div>
	
</div>


