<div class="container" id="dashboard">
  <ul class="nav nav-pills">
    <li class="active"><a href="/">My Feed</a></li>
    <li><%= link_to 'My Profile', @user %> </li>
    <li><%= link_to 'Staff Picks', @user %> </li>
  </ul>
  <div id="feature-browser" class="row">
  	<div class="span6">
  		<div id="feature-list">
  			<%= render @features.reverse %>
  		</div>
  	</div> 
  	<div class="span4 offset1">
  		<div id="unpublished">
  			<div id="feature-add">
  				<%= render 'quick_add' if user_signed_in? %>
  			</div>
  		</div>
  	</div>
  </div>
</div>


