<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <% unless user_signed_in?%>
      <a class="brand" href="/">F </a>
      <div class="navbar-content">
        <a class="brand" href="#">Featyre </a>
        <form class="navbar-search">
          <input type="text" class="search-query" placeholder="Search..."> 
        </form>
        <ul class="nav">
          <li>
          <a href="#">Explore</a> 
          </li>
          <li>
          <a href="#">About</a> 
          </li>
        </ul>
        <ul id="user-links">
          <a class="btn-auth btn-github" a href="/users/auth/github">
          Sign in with <b>github</b>
          </a>
        </ul>
      </div>
      <% else %>
        
        <div class="navbar-content">
          <form class="navbar-search">
            <input type="text" class="search-query" placeholder="Search..."> 
          </form>
          <ul class="nav">
            <li>
            <a href="#">settings</a> 
            </li>
          </ul>
          <ul id="user-links" class="navbar pull-right">
            <b> <%= current_user.username %> </b>
            <a class="btn-auth btn-github" a href="/users/logout" data-method="delete" rel="nofollow">logout</a>
          </ul>
        </div> <!-- navbar-content  -->
      <% end %>
    </div> <!-- container  -->
  </div> <!-- navbar-inner  -->
</div> <!-- navbar-fixed-top  -->

